.container
{
  width: 1024px;
  margin: 0 auto;
  .row
  {
    width: 100%;
  }
  .item
  {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 15px;
    .inner
    {
      position: relative;
    }
    img
    {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    .hover
    {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
    &:hover
    {
      .hover
      {
        display: block
      }
    }
  }
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  padding: 0 10px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: #fff;
}
.rating > span.active:before, .rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: #fff;
}
